/* Selector element  */
p{
    color:blue;
}
/* id selector */
#about{
    background-color:gray;
}
/* class selector */
.contact{
    background-color :blue;
}


body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}
header{
    background-color:black;
    color:white;
    text-align:center;
}
nav ul {
    list-style:none;
}
nav ul li {
    display:inline;
    margin: 0 15px;
}
nav ul li a{
    color:gray;
    text-decoration:none;
}